:root{
  --bggreen:#1abc9c;
  --bglight:whitesmoke;
}
body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  p {font-size: 14px;margin: 0;}
  .bg-1 { 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
  }
  .bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
  }
  .bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
  }
  .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
    color: #1abc9c !important;
  }

  .btn-primary{
      background-color: #333;
      border: none;
  }
  .btn-primary:hover{
    background-color:rgb(86, 86, 86);
  }

  /* vh */
  .vh-90{
    height: 90vh;
  }
  .vh-95{
    height: 95vh;
  }
  .vh-80{
    height: 80vh;
  }

  .footer {
    background-color:rgb(86, 86, 86);
    width: 100%;
    padding: 20px 40px;
  } 

  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
      outline: none;
      box-shadow: none;
      background-color: var(--bglight);
  }