:root{
  --bggreen:#1abc9c;
  --bggreenlight:#37bfa4;
  --bglight:whitesmoke;
  --bgblack:rgba(0,0,0,.9);
  
}
body {
    font: 13px Montserrat, sans-serif;
    line-height: 1.8;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  p {font-size: 13px;margin: 0;}
  .bg-light-green{
    background-color: var(--bggreenlight);
  }
  .bg-1 { 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
  }
  .bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
  }
  .bg-4 { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
  }
  /* .container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
  } */
  .navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 3px;
  }
  .navbar-nav  li a:hover {
    color: #1abc9c !important;
  }

  .btn-primary{
      background-color: rgba(0,0,0,.9);
      border: none;
  }
  .btn-primary:hover{
    background-color:rgb(86, 86, 86);
  }

  /* vh */
  .vh-90{
    height: 90vh;
  }
  .vh-95{
    height: 95vh;
  }
  .vh-80{
    height: 80vh;
  }
  .contentHeight{
    height:calc(100vh - 140.2px);
    /* min-height: 900px; */
  }

  .footer {
    background-color:var(--bgblack);
    width: 100%;
    padding: 20px 40px;
    color: var(--bglight);
  } 

  .navbar-toggler:focus,
  .navbar-toggler:active,
  .navbar-toggler-icon:focus {
      outline: none;
      box-shadow: none;
      background-color: var(--bglight);
  }
  .justify:not(.notjustify){
    text-align: justify;
  }